* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the content takes at least the full viewport height */
    position: relative;
    
}

.container {
    flex: auto;
    max-width: auto;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: left;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: auto;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    font-family: 'Sora', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

button:hover {
    background-color: #2980b9;
}

#response {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#totalPrice {
    font-weight: bold;
    color: #e74c3c;
}
